SECRET_KEY=tu_clave_secreta_aqui
DEBUG=True

DB_NAME=rehab_oral
DB_USER=rehab_user
DB_PASSWORD=tu_password_aqui
DB_HOST=localhost
DB_PORT=5434

REDIS_URL=redis://localhost:6381/1
CELERY_BROKER_URL=redis://localhost:6381/0
CELERY_RESULT_BACKEND=redis://localhost:6381/0