# Entorno virtual
venv/
env/

# Python
__pycache__/
*.pyc
*.pyo

# Variables de entorno
.env
.env.local
.env.production
!.env.example

# Base de datos
*.sqlite3

# Media
media/

# Coverage
htmlcov/
.coverage
coverage.xml
.pytest_cache/

# Celery
celerybeat-schedule*

# IDE
.vscode/
.idea/

# Sistema
.DS_Store